# Dependências
node_modules/
**/node_modules/

# Variáveis de ambiente
.env
**/.env

# Next.js
.next/
out/

# PM2
.pm2/

# OCI
.oci/*.pem

# Sistema
.DS_Store
*.log

# Automação de testes (Playwright MCP)
.playwright-mcp/


